{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/login-form---Ambrodu-login.css' %}">
    <link rel="stylesheet" href="{% static 'css/login-form---Ambrodu.css' %}">
</head>

<body>
    <div class="body" style="padding-top: 150px;">
        <div class="border rounded shadow login-center">
            <form style="padding-top: 32px;" action="#" method="POST">
                {% csrf_token %}
                {% load static %}
                <div class="form-group text-center"><img class="img-fluid" style="width: 100px;" src="{% static 'img/default.png' %}"></div>
                <div class="form-group d-flex justify-content-center"><input class="form-control" type="email" name="email" style="width: 400px;" placeholder="Username / Email"></div>
                <div class="form-group d-flex justify-content-center"><input class="form-control" type="password" name="password" style="width: 400px;" placeholder="Password"></div>
                <div class="form-group d-flex justify-content-center"><button class="btn btn-dark" style="width: 200px;" type="submit">Login</button></div>
                <center>Don't have accounct <a href="http://localhost:8000/"> register </a></center>
            </form>
        </div>
    </div>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</body>

</html>